---
id: stjohnsjim/story/tommys-web-catches-steven-and-bambi
name: Tommy's Web Catches Steven and Bambi
fields:
  title: Tommy's Web Catches Steven and Bambi
  slug: tommys-web-catches-steven-and-bambi
  category: story
  site: stjohnsjim
  accepted: true
  index: false
  headlines: []
  tags: []
  snippets: '{"first name":"first name"}'
  memberOf:
    - GUNAS
  published: "2011-10-19T13:12:27.000Z"
  embargo: "2017-12-31T23:59:59.000Z"
  author: 'Copyright 2010-2018 James A. Hinds: St. John''s Jim -- King of Cascadia'
  debug: ""
  created: "2011-10-19T13:12:26.000Z"
  lastEdited: "2011-10-22T11:38:58.000Z"
  captureDate: "2017-07-26T05:10:34.129Z"
  TimeStamp: "1501045834129"
---
<script>
  //story/tommys-web-catches-steven-and-bambi
  import Card from '$lib/Card.svelte';
  let storyMeta={fields:fields};
</script>

<template lang="pug">
  Card(props="{storyMeta}" )
        p
          span.FBname Friend
          | , we left off with
          a(href='http://stjohnsjim.com/home/show/177/Steven&amp;#39;s%20Story') Bambi Brew and Steven Boitoi in front of Slim’s
          | .
        p Bambi picks up his phone. Yeah, it’s the guy I’m telling you about. He owes me a favor.
        p Bambi - “Hey, Tommy, yeah… How’s the foot problem going? … Yeah, Keep it dry.
        p Hey, I got a deal you might like. I got a guy who can herd those freak spider things. I say you and he and.. Yeah! that’s what I said. HE CAN HERD THEM. Just like she does! … Yeah, We are at Slim’s. Yeah, now.”
        p Bambi hangs up. He smiles at Steven — “He’s coming over. Be here in a few. Buddy, if you can do what you say, we can make you a very rich man. I’ll buy you a drink.”
        p Steven tries to avoid being impressed. “Pabst.”
        p Bambi comes back: “Here’s a Pabst, and a shot of Chivas Regal to chase it with. Enjoy.” Steven smiles appreciatively.
        p Just as Steven is about to reach out for the shot glass, Tommy walks up, sits down, grabs and slams the shot.
        p Tommy: “(to Bambi) This the guy? (to Steven) Whaddya got? Hey, Kid, do you really fuck bugs?”
        p Steven: “We like to refer to it as ‘Animal Wifery,’ and me? I’m not into the hard-core side.”
        p Bambi: “Is that a joke or what?”
        p Steven: “Do you want to learn? I’ll teach you. I’ll start you on bat-spinners. Web-spinning 8-legged bats with screechy voices. If they gang up on you, they each stick their silk butts to you, make a strand and hoist you straight up to the belfry.” Steven casuall picks up their cold, wet drinks and touches the backs of Bambi and Tommy’s hands – they both jump back screeming. Steven holds out their glasses to them and says; “Drink, it’s not poison.”
        p Bambi: “Sorry I asked. Tommy, what’d I tell you. Does this guy have it or what!”
        p Tommy: “Well, could be, It’ll be plenty expensive for me to pay off the right people. I’ll do some research. If you put up $60,000 to $80,000, non-refundable, I think I can keep the law on our side, but you gotta keep it under wraps. My part in this is 60% of the proceeds.”
        p Bambi: “No way Tommy: I got the goose who lays the golden egg. You owe me for that little amoeba thing over at the food carts. If I didn’t get Sandy and Southwick drunk to garble up everything they said, you would be doing time.”
        p Tommy: “Yer right, how about you give me $45,000 and 25% of the proceeds.”
        p Bambi: “$40,000 and 20%”
        p Tommy: “And if you blow your cover, it’s all on you buddy. Done. Gimme the cash ASAP and I’ll let you know a week after, when I’ve made all the arrangements. Then we bring the suckas over to Pier Park, put ‘em high up in the cedars and we safely grow Green Elephants that are untouched by human hands!”
        p Steven, Bambi: “Yeah…”
        p Tommy, for his part, knows that the police never poke around that part of Pier Park: By “special arraingement.” It’s his value added to any transaction. It makes him the Mayor of Pier Park, almost. His motto: “The buck dissapears here.”
        p He now has two willing workers to hand cash over to him forever. And if they screw up, he knows nothing about it at all.
  footer.card-footer
    p.text-muted that's all--
</template>

<style>
</style>
