#bloviation.article-entry.contents(dangerously-set-inner-h-t-m-l='[object Object]')
  p OK, my Dancing Water Amiga from Niagara Falls, I accept your mind-boggling challenge to make this offering funny.  Well, at least I tried.  (to my other readers, I do accept challenges. ) BTW, this is one of those interleaved stories,  a bit harder to read without HTML, but, well, it’s less cryptic than the Bible.
  p I got lucky when I was a kid and saw something mind boggling. It’s not fun getting your mind boggled, and it might boggle yours, but Xin Loi Bah. Sorry bout that.
  p –How valuable is my life? I put a pretty high price on it. I’ll defend it to the gutter — and Beyond!!! But that’s not how valuable a life really is. Not by how much turf I can defend, but how much I can contribute.
  p
    | I have witnessed living heart animal sacrifice. I did summer intern stuff at the Mayo Clinic — the world famous medical research center in the early 1970’s — state of the art in every way.
    br
    | The scientists there knew every aspect of the medical arts and computer sciences required to do what they had in mind. And it required something that was mind boggling from beginning to end.
  p –Well, I have contributed about 3 zillion exhales, 4.275 billion poops, 3.8 million zits, and maybe a few billions farts, take a belch or two.
  p They brought the subject into the room. a downcast, docile dog. Not hugely responsive. This dog was never rewarded much, and likely recieved only “healthy” but not quality care. It had been purchased from the humane society and made physically healthy. And respected.
  p
    | –So far, I have not contributed so much. Except for the Alien Abductions. These are not from some mothership above, but from a great fungal intelligence from the suberranean depths.
    strong
      em Mycotroxilus sapiensis
    | — the spawn of Illuminium.
  p The dog was caressed, stroked, voices were soft and reassuring. A needle. In five seconds the dog became limp in the Vet’s reassuring arms. Soft, fast, loving, final.
  p –I contribute to Illuminium each night as the fungal threads come out of the walls and attach themselves to my hair follicles. Each one is a relay to the mother nodes far under the PNW. The three main nodes of Illuminium’s  primordial intelligence come together at the juncture of the Willamette and Columbia.
  p A buzzing, electric hand-plow cut quickly and accurately into the animal — dodging all critical organs and retrieving the secret source of reliability of the animal kingdom. The heart.
  p The heart quickly retrieved, chilled, re-plumbed with surgical tubing became the center stage attraction on a Pre-Mayan scaffold to hold the living, beating heart in the harsh x-ray beams of computer sensors of the day.  The heart’s drain pipes sprouting from the dog’s body like a borg telephone switchboard.
  p – Illuminium’s probes reveal secret information to Mycotroxius — how shall nature and Gaia cope with humanity? An urgent question for the Mycotrosilus sapiensis — intelligent for time before the first ice age.
  p The heart lasted anywhere from 20 minutes to a couple of hours. I can’t remember. I was running the data acquisition part and was barely able to keep up with the images. They would be used for software I was to write and use during my summer there. I was computer fodder in 1971. Eager to be on the front lines and willing to be a part of the computer revolution
  p –For some reason, I feel that these probes are valuable to insure the propogation of human lice. It’s my contribution.  Mind boggling.  I may help advance lice for the benefit of fungus everywhere.
  p The pup’s heart gets incredibly damaged with repeated X-rays. The dog had no chance of survival. Thank you, you have given us much. Your life is a stepping stone in man’s evolution that we earnestly hope will never be trod on again. You contributed to Computer Aided Tomography - CAT scans. The same stuff used in ultrasound images. One of the most incredible advances in medical technology.
  p –I feel honored to be a part of the big scheme.
  p Mind Boggling, isn’t it?
