#bloviation.article-entry.contents(dangerously-set-inner-h-t-m-l='[object Object]')
  p We recently had a Supreme Court decision that allows corporations to have the same rights of freedom of speech as us human citizens.
  p Let’s just follow that logic for a moment.
  p
    strong
      em In the world of the future
    | , when Corporations take their place as real citizens of the USA, they must take on real responsibilities. For example, Jury Duty: All employees and Board of Directors must serve on Jury Duty, but they must vote as one juror.
  p Corporations are efficient – They keep telling that to us all the time, so they can figure out how to do that efficiently. Just give our fat-cats a problem, and they can answer the call.
  p
    strong
      em In the world of the future,
    | when Corporations take their place as real citizens of the USA, they must serve time for criminal offenses. Let’s see how that might work out —
  p
    em
      strong In the world of the future, where General Efficiency has the rights of ordinary citizens:
  p Salmon- Hey, buddy, what you in for?
  p Max- I’m Max, I’m the corporate man.
  p Salmon- Wuzzat? Corporate man? I been here since ‘04 and I ain’t heard of corporate man.
  p Max- Sheeew, I thought you were an old-timer, don’t you know nothin?
  p Salmon- Hey, I been in high security for too long. Fill me in.
  p Max- Ok, Salmon, here’s how it works. Back in ‘13 corporations were forced to give up the rights of citizenship, because they were not "people". So Fucking what.
  p Max- The corporations fought back, and won those rights in the "Christmas shopper VS Walmart Greeter" riot. Thing is, they have to do the duties of a naturalized citizen.
  div
  p Max- So, Salmon, corporations have to vote in elections, sit on juries, and serve time for criminal acts. And I ain’t sitting on any jury.
  p Salmon- So that means you are serving time for some corporation?
  p Max- Yup, that’s me, I’m "Mr. Whizzy" Max. When near lethal amounts of scum-manium were found in bottles of Mr. Whizzy, heads rolled from Piscataway to Peking.
  p
    | Max- I hired on as Corporate Fall guy and got a 10 to 15 year sentence. That’s enough for full retirement from General Efficiency, Inc! Along with housing, health and dental benefits for my wife and kids.
    em And Grandchildren.
  p Max- I got another 3 years before I’m out. After that, the high level of my incrceration earns me a place on the fucking Board Of Directors! Today, I may live like a prisoner, but I’m gonna party like a Corporate FatCat for the rest of my life!
  div
  p Salmon- Max, I gotta hand it to you.
  p Max- Yea, In fact, if you are willing to get your sentence extended, I can set you up with some sweet corporate deals that will set you up with great "perks" if you know what I mean.
