#bloviation.article-entry.contents(dangerously-set-inner-h-t-m-l='[object Object]')
  p The House at 3 Gunas Lp belongs to Tommy.  Actually, it might be called Tommy, OR in honor of of the first citizen.  There are lots of these Tommy, OR homes.  Mostly, these are old-growth families, pre-60’s locals.  They have come a long way from their old public behaviors, but the values of the working class of that time rules:  "It’s my RIGHT to open a chain-saw recreation area!" , and of course, "The river cleans itself."  Fifty years later, it still is there.  I remember it.  It’s in my roots too.  Deep change takes time.
  p Southwick tells me that Tommy’s "sweetheart" of Great Harvest Moon fame has been calling: The story that ended in the primate cage: Ook-Ook. 
  p  
  p
    | I congratulate Southwick on finally making a connection, but Southwick said she kind of didn’t like Tibetan Poetry, the calls were not for him.  She wants Tommy to come over to her house because her boyfriend is in jail for breaking the restraining order.  "
    em Tommy, stallion, it is safe to come over, Hmmm, Please?
    | "   The last telephone message actually had the boyfriend break in and say: "I thought you weren’t calling that guy anymore….
    em Oh, I’m not.
    | "
  p In the unincorporated areas called Tommy, OR, some women stage chimp fights for their friends and neighbors to bet on.  Enrage those bantams, lady!  New guy wins, house wins.  Boyfriend wins, house wins.  The house always wins.
  p  
  p I tell Southwick that he is lucky she isn’t calling him, and add that he won’t get very far with that sanskrit poetry crap.
  p
    | I think the house at 3 Gunas Lp needs a symbol.  Like a little icon.  Or a logo or something.  I imagine that it would be Zeus riding a high-tech motorcycle with panties on the handlebars as trophies.  Let me,
    em St. John’s Jim
    | , assure you, the trophies really do hang on the fence at 3 Gunas Lp.  Why Zeus?  If you ask Tommy he would say the image fits.  Maybe Chimp-Zeus.  Helmet?  Hell, NO –  Zeus has an aura for protection.  Giant redwoods are broken twigs under the wheels.  Got any ideas,
    span.FBname Friend
    | ?
  p It is sweet Sunday and I’m sitting in the James John Cafe.  There is a young couple just behind me as I write this.  She is giving him the slow but unmistakeable thaw.  He is doing most of the talking. "Hermit of Pentacles," "higher vibrations," "quantum geometry of the Aztecs" –
  p  
  p I mumble to myself: "Hmm.  Quoting the Tibetan Poetry all wrong.  It doesn’t even make sense. "
  p My thoughts turn to Portland as the city of rebirth.  It is the City that Works.  And what about St. John’s?  When will it work?  I think I’ve found something in the North End Gallery.  I’ve been invited behind the curtain as this giant egg begins to hatch a phoenix.  The phoenix of St. John’s?  Possibly.  Hopefully.  Even though Hope never made it to Washington, DC.  It might make it to St. John’s.  That’s the hope.
  p  
  p It is a singularity ready to big it’s bang onto our community.  I’ll keep you posted.
