#bloviation.article-entry.contents(dangerously-set-inner-h-t-m-l='[object Object]')
  p “They have no lights on their condos.” He looked intently at me.  He wanted validation and we would be best buddies. I replied: “Yes, no lights.” Always agree. Simply acknowledge. It’s a Ninja Trick when you are confronted with a feeble old grouch.  Keep Walking.
  p
    | I walked passed him as he pointed over to the
    a(href='http://people.wku.edu/charles.smith/MALVINA/mr094.htm') tiki-taki
    | across the street, shouting: “Why don’t you put lights on your condos…”
  p I was a bit baffled, I did see porch lights, and it was daylight. What kind of lights was he thinking of? This is when I wish I was a member of the Church of Who Gives A Fuck. I look back and he is still spouting off to the building as he shuffles his walker along. Did he want a neon sign? Theatre spotlights? An enema? — it would give him something else to think about.
  p The hooker on duty in front of the Hope for Health bar vaguely threatens some people waiting for the bus: “Don’t mess with me, I do blow jobs to get that testoster crap.” She has her hand on something in her purse. Keep walking. Where did she learn a big word like that?
  p Phone Jack walks stiffly and has a booming chant like an ah-uuu-ga horn: “I’m OK, I’m OK. No Gun, No Gun.” or “Dog Green Excrement Recycle.” He usually repeats everything he says at least twice. It never makes any sense whatsoever. He thinks he is invisible — No one ever notices him because he is talking on a pay-phone. Yes, shouting through a pay phone, hanging up and dialing repeatedly without putting coins in is a perfect disguise.
  p Nobody, but nobody, screws with Phone Jack.  Very bad Juju to screw with someone who has the intellectual skills of a Labrador Retriever.  Keep walking.
  p The owner of an empty lot tells me: “I’m going to put a volleyball court here, I think it would be a big hit in the Spring and Summer.” - I reply “Yes, Spring and Summer.” Simply acknowledge. It’s a Ninja Trick when you are confronted with a Business Genius. It’s the perfect idea for a lot on an industrial arterial with no parking or foot traffic.  Yup, you guessed it:  Keep walking.
  p I bet an enema would give him something else to think about. That ninja trick wouldn’t work on Phone Jack though.  No brains, no headaches.
  p
    | Southwick walks over to me and says: “The fungus beneath our feet is a whole universe of beings.” I reply “Yes, beings." and keep walking.  He says: "The ‘shrooms want me to be their drug dealer." I reply, "Yes, dealer…
    em Dealer
    | ? What the?” But by then, I have muffed my damned Ninja Trick and I’m trapped.
  p Shit, I should have talked to the shuffler guy and I would have avoided this. I say: “Are you getting fungally probed again? Are you getting high on ‘shrooms?”
  p
    | Southwick replies: “No,  It’s them,
    em
      strong they
    | want me to get
    em
      strong them
    | high though. The ‘shrooms want me to be their drug dealer.”
  p Now that’s the craziest thing that I’ve ever heard on the street.  I got to find out more.
  p That’s St. John’s. Just when you thought you figured it out, there is a whole new subculture existing in a parallel dimension. 
