#bloviation.article-entry.contents(dangerously-set-inner-h-t-m-l='[object Object]')
  p I don’t think Jug lives in Tommy, OR — He is a very civilized guy, retired bank teller or something.  A real detail person, but very outgoing.  
  p Jug likes to collect recipes.  It’s his main hobby.  He has them written on scraps of paper, margins of books, all sorts of places.  He actually never thought of putting them on his computer until Jug found a book in the clearance bin.
  p We have a great little bookstore here in St. Johns.  Mankind’s greatest invention was the book.  Damn straight.
  p The book was an introduction to computers and had lots of pictures, diagrams and explanations of equipment, connections and, yes, a free DBase II and recipe program.  Jug read it cover to cover and finally understood the power of computers for his recipes.  He became focussed on obsolete technology.
  p
    | I mentioned to Jug that he could use his Windows machine to do the same things, but anything more complicated than logging into gmail was way too complicated for Jug.  End of conversation.  Besides, the book was part of a bunch of boxes, DBase II, DOS, early Windows II (OMG, yes, there WAS a
    a(href='http://en.wikipedia.org/wiki/Windows_2.0') Windows II
    | , it was the Vista of the ‘80s!)  Jug does NOT pass up a bargain.
  p Jug has been on a six month expedition to run his DBase recipe program.  He first found an old ’286 DOS machine at a church bazaar.  I’m very familiar with how both reliability and quirky behavior can be present in old software/hardware combinations.   There is an exotic dance to get to these old computer’s Nostril of Aphrodite.  I have been dancing that dance for years, but Jug just can’t dance.  Isn’t interested in any part of the dance.  “Just help me with this one tiny step, Jim.”
  p And so Jug has been asking tiny, one step at a time, questions.  The questions are always very detailed:  Even to the point of coming over to measure ONE voltage on one pin of his ‘puter.  Just wanted the voltage.  It was easy to do, but when I asked what voltage we were measuring, he said “disk power” — I mentioned that we were probing a completely different section of the board, Jug replied that the picture in the book was pretty clear, and even though it was wrong, Jug preferred the book.  My explanation required that Jug dance a bit.  No go. Even when I mentioned that getting a modern printer to work with these old machines was met with the response:  There are plenty of free printers at the Church.
  p Last week Jug was pretty unhappy.  The recipes are piling up.  Dammit Jim, I want these recipes.  Will you help me get DBase II working or not?   I replied that I’m happy to provide as much or as little help as Jug needs.  A hobby is a hobby.
  p But last week I asked Jug what was important here.  Was it to get his recipes on-line? Or were old-time computers the hobby?  Was his mission to Free the DBase Two at the end of chapter 21 the big goal? Jug is at chapter 6 now: one chapter a month is pretty good for an old beast like this, but it’s really bad if he wants recipes.  He replied that he was able to do it inexpensively because the program was FREE, and the one on the internet was complicated and cost $50.
  p
    | And then I asked him to add up his time and he said: “You’re Right. 
    strong
      em Money!
    | ”  — and then a strange thing happened.  Jug stopped for a moment and said “That’s not it.  Even if I forget the money, I want it to WORK! My way.”
  p I said:  “Thats OK.  You get to pick your goal and I’m happy to help, but you don’t seem to be enjoying this.  If the payoff from this is only a working recipe program and the expense is your enjoyment of your life, that may not be the balance you want.  It’s like trying to get a small advantage in traffic and getting all steamed up at the loss of some tiny ego-centered goal.  It is better to pick goals that give a bigger payoff with less hassle.  Work up to more complicated slowly.”
  p Then, Jug said “Fuck the DBase Two.  Let them rot in their prison.”
  p Today I saw Jug on the street:  I said “Hi Jug, Howzit!”
  p He said: “See, I got a Jug!  By the way, I’m using that recipe program from the internet. Works fine.”
  p
    | Every time I see him he says “got a jug” or “see, no jug” — He explains that is how he keeps his
    a(href='http://en.wikipedia.org/wiki/Juggernaut') Jug-or-Not
    | nickname.  I agree, being in control of the nicknames people have for you is a good thing, Yes?.
