#bloviation.article-entry.contents(dangerously-set-inner-h-t-m-l='[object Object]')
  p
    span.FBname Friend
    | , You have no idea how hard it is to write: “right mood” (check); “flowing emotional ideas” (check); time (check, check and megacheck); battery life (check); good ambient feng-shui (che— Um. what the hell is ambient feng-shui???)
  p Well, I can tell you what it is NOT.  Like today, when the U.S. Open golf tournament is on full babble. Seemingly everywhere, even from the cars that drive by. It’s like the P.A. announcements on M.A.S.H. Winnie Daough herself has gone from daydreaming in a bean bag chair to high-school high-kicking cheer leader in 0.3 seconds on the sinking of a single putt. Now that will kill your ambient feng-shui. “Screw your putt, I’m creating masterpieces here!” — St. John’s Jim
  p
    | So I was lucky and was able to tease Pathy, Winnie’s sister, into telling me a few of the juiciest gossip around town. She walked me around her quiet garden pointing out her Ida Lupino Lupines and her Mexicali Roses. Leo and Station walked up the alley and waved, we waved back.
    br
    | Winnie called out: — “How are the classes going?”
  p Station put himself in an Indonesian martial arts stance and made a big grin.
  p Leo chortled “Fabulous! And we LOVE your slugs!” — they looked at each other and the two men disappeared into their house.
  p I mentioned that they seemed to have patched up their relationship. I have never seen these two talk to each other, let alone walk side by side. And now they were openly affectionate.
  p
    | Pathy said: “Yes, they are giving web-video sex-wrestling classes now! Can you believe it?”
    br
    | At that moment Leo bounded up to me, thrusting a hand bill at me, saying “Bodies just want to have fun. Let yours loose more often!”
  p On the front it had the headline: “Bodies Just Want to Have Fun,” along with some marketing BS about it being Shaolin inspired. — I fell into the trap and stupidly asked: “What’s it all about?”
  p Leo bubbled in his kind of too technical way: “The goal of level 1 is to be able to get the partner to ‘detachment’ which is identified as to have uncontrollable breathing, moans, and shouts of ‘Yes, yes, God YeS!’” — He winked a bit and said: “Some Marines have been known to shout ‘More P.T. Sargent!’”
  p
    span.FBname Friend
    | , I’m pretty much over those kinds of military exercises, and not being so hot on “Yes, Yes, God Yes,” I ventured a lame “Three Cheers” as my indicator.   Leo shot me a patronizing look, saying: “It’s a start.”
  p Leo turned to Pathy and said: “Station will come again at 2AM to clean the slugs out of your peppers, OK?” That seemed to make Pathy happy and Leo went back inside where Station was calling out: “Hurry up, Leo! We only have two minutes to get ourselves fluffed before we start the web-cam stream.”
  p I looked at Pathy and asked: “Are those two going live with their video sex wrestling?”
  p Pathy replied: “Yes, I thought those two would never get back together. Station’s family in the South Pacific had cut him off, and Leo’s last internet spy gig went very bad. They were both in the pits of depression.”
  p I said: “Yeah, I thought their energy was way out of kilter for a pair of guys living together. What happened?”
  p Pathy went on: “It was my habanero peppers and those nasty slugs. A couple of weeks ago, we were here in the garden. It was like this —
  p Pathy is pointing to the remains of a seed pod. “And it even ate my habanero! I think it’s slugs! Uggh.”
  p Station says: “In my culture, anything that can transmute the habanero is highly prized. We call it Mana-Bo-Banana-Fana-Mana. It is very rare to hold and concentrate the habanero energy. Imagine the huge appetite of it’s Chi-overflow protection system! It must hold the plant-energy of the habanero so that it can be released in chakras of amazing BooKoo!”
  p Leo looks at Station and says: “BooKoo? Like we used to have?” Station looks at Leo and their eyes soften a bit. In a flash, Station is combing the underleaves like his tropic ancestors.
  p Pathy looks startled as Station holds out his prize to her. He says: “Pathy, here it is.” It starts oozing up his wrist.
  p Pathy looks at it with disgust, “Slugs, ugh, get rid of it.”
  p Leo and Station are suddenly very chatty as they quickly walk back to their home. Halfway there, Leo slid the thing off of Station’s shoulder onto his hand. They giggled.
  p
    | — At least that’s what Pathy tells me.  In Portland, where we have an annual
    a(href='http://www.kptv.com/news/28278209/detail.html') Nude-Bike-A-thong
    | , her story sounds no more bizarre than any of Sandy’s stories about mutant mammal-arachnids, or Roger’s death by our fungal overlords, but there it is. You have read all about those and other stories right here, on the St. John’s Lighthouse.  In black and white. Or whatever your text screen rendering makes it.
  p — So, kids of all ages, don’t hold me responsible for any mollusca-banero snacks you come across! And keep your sex-wrestling in top form: It is all Leo’s and Station’s idea.
