#bloviation.article-entry.contents(dangerously-set-inner-h-t-m-l='[object Object]')
  p People sometimes use phrases that I can’t figure out. Is it slang? Is it English? Something Gov. Paris Palin said? There are lots of subcultures that I miss out on. I heard the headline phrase come out of the Muse’s mouth not too long ago. Whassit mean? "The Fist of Perhaps" — 
  p My long distance readers, the Ten Foot Teen and the Mamacita de Luz, want a Tarot Reading, by e-mail. OK. Let’s try this.
  p If you are local to Portland, though, a face to face reading is best.
  p -Choose a ‘question’ — what that might be is up to you.
  p If you share your question with me (and you phrase it so I can understand it: Friend, I’m talking to you – none of this "fist of perhaps" stuff) I can help with the interpretation better.
  p -Get a Ryder-waide-smith (the classic) deck. Other’s are OK if they have the standard cards.
  p -sleep with it overnight, unless otherwise instructed.
  p -shuffle deck as much as you want, Lots is good. Meditate on "der question." Ask yourself questions about the question: "Will it be good for me?" "Will it be good for my family" to "Who Gives a Fuck?"
  p -Pick ten at random and e-mail me the names of the cards, including ‘inversion’ if you want.
  p Personally, I feel that the ‘inversion’ of the archetype occurs in real-life not in the cards, and you, Friend, need to do the homework portion of the reading both inverted AND right side up.
  p You should pick ONE card from the remaining cards that YOU most closely identify with – in your opinion. That will be the ‘persona’ that I’ll use for the interpretation.
  p I’ll send you the interpretation. It is best if we do an exchange on each card, where you can ask questions, like a real reading. OR, just ask for the whole thing. 
  p Here is my challenge to you: Use the "fist of perhaps" in a sentence. Try to make it mean something. Anything. – I’ll reply with the best answers here.
