#bloviation.article-entry.contents(dangerously-set-inner-h-t-m-l='[object Object]')
  p  The Great Harvest moon is over, it’s Tuesday morning and I’m safe, for now, at the James John Cafe.
  p Where do I begin?  with Southwick’s saga from 3 Gunas Loop?  With the extra hugs and kisses from unexpected ladies?  With the very odd requests for Tarot readings?
  p
    | Let’s just start a week or so ago:  I get a request from a totally deaf young lady for a Tarot reading.  We share my ‘puter and type out the reading.  It kind of works, because we have a written transcript.  She lit up when the King of Pentacles appeared in her future.  Doesn’t take a fortune teller to figure
    em that
    | out, but I receive credit for the miracle with a grateful hug.  Reward the messenger?  That’s what fortune tellers do best.
  p More buzz last week in St. John’s revolved around a possible suicide off the St. John’s Bridge.  Our Beloved Bridge just got out of the Oregon Penitentiary a few years ago for assisting too many suicides.  He had a gun and everything and was threatening babies with crystal morphine.  At least that’s what the street buzz was all about.
  p A street waif came up to me on Thursday evening, hugs me and says "I don’t want to NOT love you:  I need to go now" – I saw her again on Monday, she smiled, talked amiably, and the odd glint in her eye was gone.  Maybe I’m a father figure.  Maybe I looked like her fix kit.  The moon was full.  I told her that I’m not the Celarien, I just play one in real life.
  p
    | I walked through Slim’s late, late on Friday.  A very young and beautiful lady was leading around a guy built like a fullback.  She asked about my hat and such.  As soon as I said the word Tarot, she was all into a reading:  She suspended her fullback in her gaze and floated us over to a waiting booth.  Ordering the Tarot Reader his required shot of rum she shows all the signs of a Female-Lion tamer.  Yes, you guessed it:
    a(href='http://www.bardagency.com/store/tarot_11_strength_detail.html') Tarot Card VIII, Strength
    | .  The girl power card.  Amped up on Great Harvest Steroids.
  p We do the reading.  When the knight of swords comes up, and I ask her if that might be the hulk who she wore like a feather boa.  She flashes ‘no, no, no’ in invisible sign language and we proceed.  After the reading, (and during, and before) she is huggy and affectionate.  Having had a bit of experience with women of Great Strength, I figure the Fullback, with his taste for spicy burgers,  will be in for a rough life.  Adios, Mr Lion and your future with Strength.
  p
    | It all reminds me of dwarf Grumpy’s advice: "Careful, She’s got Womanly Wiles!"
    span.FBname Friend
    | , I hear you ask, "What are they?"  Grumpy is quick to answer: "I don’t know, but I’m
    em
      strong agin
    strong ‘em
    | " —Relax Grumpy, Life is far sweeter with that particular cup, just make sure you follow the house rules and always tip the bartender.
  p I wander home singing: "It’s Strengths illusions I recall, I really don’t know Strength at all."  I go back home and pass by the house on 3 Gunas Loop.  All three of the wise men there seem to be howling at the moon.
  p
    span.FBname Friend
    | , meet me again at the James John Cafe, here at a secret location near the Willamette River and  I’ll let you know what I found out.  There’s more.  Much more.
  p Jim
