#bloviation.article-entry.contents
  p There is Tommy -- Tamasik in all its gory glory -- Bravado, Bragadocio, Bully and Bullpucky. Most of the chaos involves him. Mostly because he started it.
  p and Roger Dojer -- Rajasik and regular -- Takes care of all the details, has two fire extinguishers with him at all times.
  p and Southwick -- Sattvik wanna be -- learning to be what he needs to be to make a bridge between reality and heaven
